<section class="section about" id='scroll-about'>
    <h2 class="section__head">O nas</h2>
    <p class="section__desc">Jesteśmy <strong class="blue"> grupą </strong> młodych, aspirujących entuzjastów
        inżynierii i programowania. Nasza
        ekipa składa się z <strong class="blue"> laureatów i finalistów </strong> konkursów przedmiotowych z
        informatyki, fizyki
        i astronomii w roku szkolnym 2018/19.</p>
    <div class="line"></div>

    <p class="section__desc section__desc--blue">W ramach konkursu CanSat konstruujemy naszą pierwszą minisatelitę.
    </p>
    <ul class="about__list">
        <li class="about__list-element">
            <img class="about__icon" src="assets/img/lampv2.svg" alt="Ikonka lampy">
            <p class="section__desc">
                Mamy motywację. <br />
                W ciągłym ruchu trzyma nas
                <strong class="blue"> Kreatywność</strong>, Rzeczowość <br>i Sumienność.

            </p>
        </li>
        <li class="about__list-element">
            <img class="about__icon1" src="assets/img/vilo_logo.png" alt="Logo VILO Bydgoszcz">
            <p class="section__desc">Jesteśmy uczniami <strong class="blue">VI LO Bydgoszcz </strong> - 24 szkoły
                <br>w
                licealnym rankingu Perspektyw
                2019.</p>
        </li>
    </ul>
</section>