<section class="section help" id='scroll-help'>
    <h2 class="section__head">Wesprzyj nas!</h2>
    <p class="section__desc">Każda kwota oraz każde <strong class="blue"> polubienie </strong>lub subskrybcja <br>w
        mediach społecznościowych dodają
        nam
        otuchy <br>i możliwości. Zapraszamy do <strong class="blue"> wspierania</strong> nas, wszystkie łapki <br>w
        górę są
        dla nas bezcenne.<br />
        <div class="line"></div>
        <p class="section__desc"> Czekają na nas takie wydatki jak:</p>
    </p>

    <ul class='help__aim-list'>
        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Czujnik składu powietrza</li>
        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Filamenty do drukarki 3d</li>
        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Panele słoneczne</li>
        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Czujnik wilgotności </li>
        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Barometr </li>
        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Wykrywacz toksyn w powietrzu</li>
        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Liczne moduły (np. radiowy)</li>
        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Baterie</li>

        <li class="help__aim-element">
            <i class="help__aim-icon fas fa-dot-circle"></i>
            Akcelerometr </li>
    </ul>

    <ul class="help__social-list">
        <li class="help__social-element">
            <a class="help__link" target="_blank"
                href="https://www.facebook.com/Project-Trailblazer-106516177408536/?eid=ARDvwwSl6TA_T6bEmZg4c1V2s8DujJ4dVTar3K8ml_z70zotYo4mUaHSJEoAV7GhpJjDMs9BabXviE0b">
                <i class="help__social-icon fb fab fa-facebook-square"></i>
            </a>
        </li>

        <li class="help__social-element">
            <a href="https://www.youtube.com/channel/UCsfFWmAgQwkoo76CMISX5rw" target="_blank" class="help__link">
                <i class="help__social-icon yt fab fa-youtube"></i>
            </a>
        </li>

        <li class="help__social-element">
            <a class="help__link" target="_blank" href="mailto:trailblazer.kontakt@gmail.com">
                <i class="help__social-icon mail fas fa-envelope"></i>
            </a>
        </li>
    </ul>

    <p class="section__desc">Zapraszamy do kontaktu na <strong class="blue">
            trailblazer.kontakt@gmail.com</strong>
    </p>
</section>