<section class="section home" id='scroll-home'>
    <div id="particles-js"></div>
    <h1 class="home__logo">
        <span class="min">project</span>
        <span class="big">Trailblazer</span>
        <img class="img" src="assets/img/astronaut.svg" alt="Ikonka astronauty">
    </h1>

    <h2 class="home__head section__head section__head--home">
        <q>To mały krok dla człowieka, </br>
            ale wielki lot dla puszki</q>
    </h2>
    <ul class="home__sponsor-wrap">
        <li class="home__sponsor-element home__sponsor-element--deepsense">
            <a class="home__support-link" href="https://deepsense.ai/" target='_blank'>
                <img class="home__deepsense" src="assets/img/deepsense_white.png" alt="logo deepsense.ai">
                <span class="home__deepsense-support">Wsparcie</span>
            </a>
        </li>
        <li class="home__sponsor-element">
            <a class="home__support-link" href="http://vilo.bydgoszcz.pl/" target='_blank'>
                <img class='home__vilo' src="assets/img/vilo_logo.png" alt="logo vilo">
            </a>
        </li>
    </ul>
</section>