<nav class="nav ">
    <ul class="nav__list ">
        <li class="nav__list-element nav__list-element--first ">
            <a class='nav__link' href="#scroll-home"> Home </a>
        </li>
        <li class="nav__list-element">
            <a class='nav__link' href="#scroll-about"> O nas </a>
        </li>
        <li class="nav__list-element">
            <a class='nav__link' href="#scroll-project"> projekt </a>
        </li>
        <li class="nav__list-element">
            <a class='nav__link' href="#scroll-wideo"> Wideo </a>
        </li>
        <li class="nav__list-element">
            <a class='nav__link' href="#scroll-status"> Status </a>
        </li>
        <li class="nav__list-element">
            <a class='nav__link' href="#scroll-help"> Wsparcie </a>
        </li>
    </ul>
    <img class="nav__img" src="assets/img/astronaut.svg" alt="Ikonka astronauty">
</nav>

<div class="closer"></div>

<div class="burger">
    <div class="burger__line"></div>
    <div class="burger__line"></div>
    <div class="burger__line burger__line--last"></div>
</div>