<section class="section wideo" id='scroll-wideo'>
    <h2 class="section__head">Wideo</h2>
    <div class="wideo__wrap">
        <iframe class="wideo__movie wideo__movie--first" src="https://www.youtube.com/embed/he6tPq1so9I" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="wideo__movie wideo__movie--second" src="https://www.youtube.com/embed/1HT3TlDLaqs"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/1HT3TlDLaqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

        <p class="section__desc wideo__desc">
            Zadaniem naszej sondy będzie zbadanie <b class="blue"> czynników </b> takich jak temperatura i
            ciśnienie występujących na <b class="blue"> danej </b> planecie. Podczas swobodnego spadku
            sonda zrobi zdjęcia terenu, które zostaną poddane <b class="blue"> analizie </b> za pomocą
            technologii <b class="blue"> sieci neuronowych</b>. Na ich podstawie zbudujemy <b class="blue"> model 3D
            </b> ilustrujący otoczenie, spadek sondy oraz zebrane dane.
        </p>
        <img class="mechanic" src="assets/img/mechanic.png" alt="Ikonka Koła Zębatego">
    </div>
</section>