@import './variables';

.burger {
    width: 50px;
    height: 37px;
    position: fixed;
    left: 20px;
    top: 30px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__line {
        width: 100%;
        // height: 20%;
        height: 15%;
        background-color: $color-white-medium;
        border-radius: 5px;

        &.outMain {
            background-color: $color-sky-light;
        }

        &--last {
            transition: .3s;

            &.on {
                transform: translateX(10px);
                background-color: $color-sky-light;

                &.outMain {
                    background-color: $color-white-light;
                }
            }
        }
    }
}

@media(min-width:768px) {
    .burger {
        display: none;
    }
}