.contact {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 85vw 1fr;
    justify-items: center;
    text-align: center;
    min-height: 100vh;
    align-content: center;
    row-gap: 30px;

    &>* {
        grid-column: 2;
    }

    &__form {
        display: grid;
        row-gap: 15px;
    }

    &__element {
        display: grid;
        background-color: rgb(235, 235, 235);
        font-size: 2.2em;
        padding: 20px 5px;
        row-gap: 10px;
        border-radius: 10px;
    }

    &__input {
        width: 80%;
        max-width: 200px;
        padding: 8px;
        font-size: 0.8em;
        margin: 10px auto;
        font-family: Montserrat;
        outline: none;
        border: none;
        border: 2px solid $color-purple-hard;
        border-radius: 10px;
    }

    &__label {
        text-align: left;
        padding-left: 5px;
        display: inline-block;

        &::first-letter {
            color: $color-purple-hard;
            font-weight: bold;
        }
    }

    &__btn {
        font-family: Montserrat;
        display: inline-block;
        width: 30%;
        font-size: 2em;
        background-color: $color-white;
        border: 2px solid $color-purple-hard;
        padding: 10px 5px;
        border-radius: 10px;
        margin: 10px auto;
    }

    &__info-list {
        display: grid;
        row-gap: 30px;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: 1fr 7fr 1fr;
        padding-bottom: 30px;

        &-element {
            font-size: 2.5em;
            display: flex;
            align-items: center;
            grid-column: 2;
        }
    }

    &__icon {
        font-size: 1.2em;
        margin-right: 20px;
        color: $color-purple-hard;
    }
}

@media(min-width:795px) {
    .contact {
        grid-template-columns: 1fr 35vw 45vw 1fr;
        grid-gap: 30px;

        &__info-list {
            grid-column: 2 / span 2;
            grid-template-columns: auto;
            display: flex;
            justify-content: space-evenly;
            margin-top: 50px;

            &-element {
                margin: 20px;
                font-size: 2.2em;
                transition: .2s;

                &:hover {
                    cursor: pointer;
                    color: $color-purple-hard;
                }
            }
        }

        &__form {
            grid-column: 3;
            grid-row: 1;

        }
    }
}

@media(min-width:1024px) {
    .contact {
        &__info-list {
            width: 100%;
            align-content: space-around;
            padding-bottom: 0;
            font-size: 1.2em;
        }

        &__form {
            font-size: 1.1em;
        }

        &__label {
            margin-left: 0;
            text-align: center;
        }
    }
}

@media(min-width:1200px) {
    .contact {
        &__info-list {
            margin-bottom: 40px;
        }
    }
}