.head-and-img-wrap {
    width: 100%;
    font-size: 10px;
    display: grid;
    row-gap: 40px;
    padding-bottom: 30px;
    justify-items: center;

    &__head {
        text-align: center;
        font-size: 3.5em;
    }

    &__ilustration {
        width: 100%;
        max-width: 600px;

        &--big {
            width: 100%;
            max-width: 450px;
        }
    }
}

@media(min-width:795px) {
    .head-and-img-wrap {
        &__head {
            font-size: 5em;
        }
    }
}

@media(min-width:1024px) {
    .head-and-img-wrap {

        &__head {
            font-size: 5.5em;
        }
    }
}