.header {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid $color-black-light;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 10px;
    z-index: 20;



    &__bars {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 15%;
        z-index: 25;
        @include makeSquare(40px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__bar {
        height: 17%;
        width: 100%;
        background-color: $color-black-dark;
        z-index: 20;

        &.bar-3 {
            transition: .1s linear;
            transform-origin: left 50%;

            &.on {
                transform: rotate(6deg);
                background-color: $color-purple-hard;
            }
        }
    }
}

@media(min-width:795px) {
    .header {
        border-bottom: none;

        &__bars {
            display: none;
        }

        &-outside {
            display: none;
        }


    }
}

@media(min-width:960px) {
    .header {
        &__h1 {
            font-size: 5em;
        }
    }
}