@import './variables';

.help {
    &__aim- {
        &list {
            color: $color-sky-dark;
            display: inline-flex;
            text-align: left;
            flex-direction: column;
            letter-spacing: 1px;
        }
        &ez{
            display:flex;
            margin-right:20px;
                float:left;
        }
         &ez1{
            overflow:hidden;
             margin-left:20px;
             
        }
        &element {
            display: flex;
            align-items: center;
        }

        &icon {
            color: $color-sky-light;
            font-size: 0.65em;
            margin-right: 12px;
        }
        
    }
    
    &__social- {
        &list {
            display: flex;
            justify-content: space-evenly;
            width: 270px;
            padding-top: 30px;
        }

        &element {}

        &icon {
            font-size: 50px;
            transition: .3s;

            // margin: 5px 15px;
            &.fb {
                color: #3C5A99;
            }

            &.yt {
                color: #c4302b;
            }

            &.mail {}

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}

@media(min-width:768px) {
    .help {
        &__social {
            &-icon {
                font-size: 60px;
                ;
            }

            &-list {
                width: 370px;
            }
        }
    }
}

@media(min-width:960px) {
    .help {
        &__social {
            &-icon {
                font-size: 70px;
                ;
            }

            &-list {
                width: 400px;
            }
        }
    }
}