@import './variables';

.home {
    max-width: none;

    min-height: 100vh;
    background: linear-gradient(180deg, $color-sky-dark 38.02%, $color-sky-light 100%), $color-sky-dark;
    background: url(../img/home_background.jpg);
    background-position: 80% bottom;
    background-size: cover;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    display: grid;
    row-gap: 60px;
    // align-items: center;
    justify-items: center;
    letter-spacing: 2px;
    text-align: center;
    border: none;

    &__logo {
        // font-size: 30px;
        // font-family: 'gravedigger';
        // color: $color-white-light;

        // .min {
        //     font-size: 15px;
        // }
        width: 90%;
        max-width: 800px;
        align-self: flex-end;
    }

    &__head {
        align-self: flex-start;
    }
}

@media(min-width:768px) {
    .home {

        &__logo {
            // font-size: 50px;
            width: 80%;

            .min {
                font-size: 25px;
            }
        }
    }
}

@media(min-width:1200px) {
    .home {

        &__logo {
            font-size: 70px;

            .min {
                font-size: 35px;
            }
        }
    }
}