$color-sky-dark:#02203B;
$color-sky-dark-ultra:rgb(5, 25, 42);
// $color-sky-dark-ultra-opacity:rgba(5, 25, 42, 1);
$color-sky-light:#134674;
$color-light-white:#fff;

$nav-height:66px;

@mixin makePseudo($a, $b) {
    content: "";
    position: absolute;
    width: $a;
    height: $b;
}

@mixin makeSquare($a) {
    width: $a;
    height: $a;
}