@import './variables';

.mechanic {
    position: absolute;
    bottom: 2%;
    right: 10%;
    opacity: 0.5;
    width: 20%;
}

.wideo {
    &__wrap {
        display: grid;
        row-gap: 40px;
        align-items: center;
        justify-items: center;

    }

    &__movie {
        position: relative;
        background-color: $color-white-medium;
        z-index: 100;
    }

    &__desc {
        text-align: left;
    }
}

@media(min-width:768px) {


    .wideo {
        &__wrap {
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr;
            grid-gap: 40px;
            align-items: center;
            justify-content: center;
        }

        &__movie {
            &--first {
                grid-column: 1/ span 1;
            }

            &--second {
                grid-column: 1/ span 1;
            }
        }

        &__desc {
            grid-row: 1 / - 1;
            grid-column: 2 / span 1;
            text-align: left;
            padding-left: 10px;
        }
    }
}

@media(min-width:960px) {
    .wideo {
        &__movie {
            width: 370px;
            height: 185px;
        }
    }
}

@media(min-width:1200px) {
    .mechanic {
        position: static;
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        align-self: flex-end;
        width: auto;
        height: 100%;
        max-height:185px;
        justify-self: flex-end;
        transform: translateY(-25%) scale(1.5);
        padding-right: 30px;
    }

    .wideo {
        &__wrap {
            align-items: flex-start;
        }

        
    }
}