@import './variables';

.wideo {
    &__wrap {
        display: grid;
        row-gap: 40px;
        align-items: center;
        justify-items: center;

    }

    &__movie {
        position: relative;
        background-color: $color-white-medium;
        z-index: 100;
    }
}

@media(min-width:768px) {
    .wideo {
        &__wrap {
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr;
            grid-gap: 40px;
            align-items: center;
            justify-content: center;
        }

        &__movie {
            &--first {
                grid-column: 1/ span 1
            }

            &--second {
                grid-column: 1/ span 1
            }
        }

        &__desc {
            // padding: 0 15px;
            grid-row: 1 / -1;
            grid-column: 2 / span 1;
        }
    }
}

@media(min-width:960px) {
    .wideo {
        &__movie {
            width: 370px;
            height: 185px;
        }
    }
}