@import './variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    color: $color-white-dark;
    font-size: 20px;
}

@font-face {
    font-family: 'timeburner';
    src: url(../font/timeburnernormal.ttf);
}

@font-face {
    font-family: 'timeburnerBold';
    src: url(../font/timeburnerbold.ttf);
}

@font-face {
    font-family: 'gravedigger';
    src: url(../font/Gravedigger.otf);
}

ul {
    list-style: none;
}

.section {

    padding: 20px 20px 60px;
    border-bottom: 2px solid $color-white-dark;

    &__head {
        font-family: 'timeburner', roboto, arial;
        text-align: center;
        font-size: 40px;
        color: $color-sky-dark;
        padding-bottom: 15px;

        &--home {
            color: $color-white-light;
            font-size: 28px;
        }
    }
}

.line {
    width: 80%;
    height: 1px;
    margin: 15px 0;
    background-color: $color-white-dark;
}

@media(min-width:640px) {
    .section {
        &__head {
            font-size: 44px;

            &--home {
                font-size: 30px;
            }
        }
    }
}

@media(min-width:768px) {
    .section {
        &__head {
            font-size: 48px;

            &--home {
                font-size: 32px;
            }
        }
    }
}

@media(min-width:960px) {
    .section {
        &__head {
            font-size: 50px;

            &--home {
                font-size: 33px;
            }
        }
    }
}


@media(min-width:1200px) {
    .section {
        &__head {
            font-size: 52px;

            &--home {
                font-size: 34px;
            }

        }
    }
}

@import './home';
@import './nav';
@import './burger';
@import './wideo'